Yanick Champoux <yanick@cpan.org> <yanick@babyl.dyndns.org>
Yanick Champoux <yanick@cpan.org> <yanick@50811bd7-b8ce-0310-adc1-d9db26280581>
Tim Bunce <timb@cpan.org>   <timbo@50811bd7-b8ce-0310-adc1-d9db26280581>
Tim Bunce <timb@cpan.org>   <Tim.Bunce@pobox.com>
Martin J. Evans <mjevans@cpan.org> <mjevans@50811bd7-b8ce-0310-adc1-d9db26280581>
John Scoles <byterock@cpan.org>   <byterock@50811bd7-b8ce-0310-adc1-d9db26280581>
