Dean Hamstead <djzort@cpan.org> <dean@fragfest.com.au>
Dean Hamstead <djzort@cpan.org> <dean.hamstead@staples.com.au>
Dean Hamstead <djzort@cpan.org> <dean.hamstead@winc.com.au>
Dean Pearce <deanpearce@gmail.com> <pearce@pythian.com>
John Scoles <byterock@cpan.org>   <byterock@50811bd7-b8ce-0310-adc1-d9db26280581>
Martin J. Evans <mjevans@cpan.org> <bohica@ntlworld.com>
Martin J. Evans <mjevans@cpan.org> <github@virginmedia.com>
Martin J. Evans <mjevans@cpan.org> <mjegh@ntlworld.com>
Martin J. Evans <mjevans@cpan.org> <mjegh@virginmedia.com>
Martin J. Evans <mjevans@cpan.org> <mjevans@50811bd7-b8ce-0310-adc1-d9db26280581>
Michael Portnoy <portnoy@pythian.com>   <mport@cpan.org>
Mike O'Regan <moregan@stresscafe.com> <moregan@football.flr.follett.com>
Tim Bunce <timb@cpan.org>   <timbo@50811bd7-b8ce-0310-adc1-d9db26280581>
Tim Bunce <timb@cpan.org>   <Tim.Bunce@pobox.com>
Yanick Champoux <yanick@cpan.org> <champoux@pythian.com>
Yanick Champoux <yanick@cpan.org> <yanick@50811bd7-b8ce-0310-adc1-d9db26280581>
Yanick Champoux <yanick@cpan.org> <yanick@babyl.dyndns.org>
